/*
Colour Palette Option #2

Dark mint: #006458
Spearmint: #008872
Soft mint: #a3ddca
Gray: #cad0cf
*/

/* Hide the default theme stuff we don't want to see.*/
#header-below,
#role-credits {
  display: none;
}

.section-header {
  color: #fff;
  margin-top: 20px;
}

.section-layout .section-header .section-title {
  color: #fff;
  font-size: 22px;
  padding-bottom: 10px;
  letter-spacing: normal;
  text-transform: none;
}

/* Global elements and styles */

body {
  color: #cad0cf;
}

a {
  color: #a3ddca;
}

a:visited {
  color: #a3ddca;
}

h1, h2, h3, h4, h5, h6 {
  color: #a3ddca;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #fff;
}

h4 a:hover {
  color: #a3ddca;
}

.widget {
  text-shadow: none;
}

input[type="text"]:focus,
#top-search input#s:focus {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: rgba(163, 221, 202, 0.65)
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(163, 221, 202, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(163, 221, 202, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(163, 221, 202, 0.6);
}

/* search form */

#top-search {
  position: relative;
}

#top-search,
#top-nav ul {
  position: absolute;
  right: -10px;
}

#top-search {
  bottom: 90px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
}

#top-search input#s {
  padding-bottom: 0;
  width: 191px;
  color: #006b64 !important;
}

#top-search input#search-submit {
  position: absolute;
  z-index: 99;
  right: 0;
}

#top-nav ul {
  float: none;
  position: absolute;
  bottom: 10px;
}

form .button, #footer, #site-info, #top-search input#s:focus, .flex-caption, .light-on-dark, .light-on-none, .pagenavi a:hover {
  text-shadow: none;
}

/* Header section overrides */

.site-title {
  width: 214px;
}

#site-info {
  padding-bottom: 0;
}

.menu {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
}

#top-nav {
  font-size: 16px;
}

#top-nav ul {
  /* Reset theme default border, radii? Is that how you say it? */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
/*
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
*/
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #006458;
  background-image: -moz-linear-gradient(top,#03a087, #006458);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#03a087),to(#006458));
  background-image: -webkit-linear-gradient(top,#03a087,#006458);
  background-image: -o-linear-gradient(top,#03a087,#006458);
  background-image: linear-gradient(to bottom,#03a087,#006458);
  background-repeat: repeat-x;
  border-color: #006458 #006458;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1);
  border-bottom: 0;
}

/*
#top-nav ul::after {
  content: '';
  position: absolute;
  display: block;
  background: #b1c79f;
  width: 100%;
  height: 1px;
}
*/

#top-nav ul::after {
  bottom: -2px;
}

#top-nav ul li {
  border: none;
  border-left: 1px solid rgba(0,0,0,0.3);
}

#top-nav ul li:first-child {
  border-left: none !important;
}

#top-nav ul li a {
  color: #fff;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

#top-nav li:hover,
#top-nav ul li a:hover,
#top-nav .current_page_item a {
  background: none !important;
  color: #a3ddca;
}

/* Main content block */

#hero {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border: 5px solid #000;
/*   height: 438px !important; /* Previously 350px. Upped by 25% */
}

#hero .light-on-dark .entry-content {
  position: absolute !important;
  bottom: -40px !important;
  left: -40px !important;
  background: none;
  background-color: rgba(0,0,0,0.5);
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#hero .entry-content {
  width: 450px;
  max-height: 100px;
}

#hero .entry-content h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 16px;
}

#hero .entry-content p {
  font-size: 14px;
}

#hero .entry-content h2,
#hero .entry-content p {
  line-height: 1;
}

/*
#hero .slide {
  height: 438px !important;
}
*/

#hero .entry-background, #primary-nav, #primary-nav li:hover, input#search-submit, .multiple .entry, #page-header-container {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

#main-container {
  position: relative;
  background: none;
}

.section-layout {
  background: none;
}

.grid-view .section-content,
.list-view .section-content {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  margin-bottom: 40px;
  position: relative;
}

/*  Thumbnails  */

.entry-thumbnail {
  background: rgba(0,0,0,0.6);
  border: 1px solid rgba(0,0,0,0.7);
}

.entry-thumbnail:hover {
  -webkit-box-shadow: 0 0 5px 0 rgba(163, 221, 202, 0.65);
  -moz-box-shadow: 0 0 5px 0 rgba(163, 221, 202, 0.65);
  box-shadow: 0 0 5px 0 rgba(163, 221, 202, 0.65);
}

/* Footer styles */

#footbar {
  background: none;
  background-color: rgba(0,0,0,0.6);
  position: relative;
}

.logo-footer {
  position: absolute;
  font-size: 0.929em;
  left: 0;
  bottom: -41px;
  color: #666 !important;
  text-shadow: 0 1px 0 #000;
}

.media-logo {
  width: 130px;
  height: 47px;
  display: block;
  margin-bottom: 10px;
}

/*
.grid-view .section-content::before,
.list-view .section-content::before,
.grid-view .section-content::after,
.list-view .section-content::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  display: block;
  background: rgba(255,255,255,0.8)
}

.grid-view .section-content::before,
.list-view .section-content::before {
  top: 0;
}

.grid-view .section-content::after,
.list-view .section-content::after {
  top: 0;
}
*/

/* Responsive styles */

@media only screen and (max-width: 959px) and (min-width: 768px) {

  #top-nav {
    font-size: 13px;
  }

}

@media only screen and (max-width: 767px) {

  #header-below {
    display: block;
  }

}